html,
body,
#root,
#main {
  min-height: 100vh;
  background-color: #f8f7f2;
  width: 100vw;
  overflow-x: hidden;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.blur {
  filter: blur(4px);
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 32px 32px;
  grid-auto-flow: row;
}

.divider-dot {
  background-color: #f0972a;
  display: inline-block;
  height: 9px;
  width: 9px;
  margin: 0 16px;
  border-radius: 50%;
}

.fs-7 {
  font-size: 0.9rem;
}

.fs-8 {
  font-size: 0.8rem;
}

.fs-9 {
  font-size: 0.7rem;
}

.fs-10 {
  font-size: 0.6rem;
}

.divider-container {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.divider-text {
  position: absolute;
  background-color: #f8f7f2;
  padding-right: 15px;
  z-index: 1;
  color: #96bb36;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 36px;
}

.divider {
  height: 1px;
  width: 100%;
  background: #d8d8d8;
  margin-top: 20px;
}

.modal-title {
  color: #f0972a;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 38px;
}

.no-border {
  border: 0;
}

.modal-left-side {
  flex: 0 0 40%;
  padding-right: 8px;
}

.modal-right-side {
  flex: 0 0 60%;
  padding-left: 8px;
}

.modal-subtitle {
  color: #96bb36;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 18px;
}

.modal-pill-bg-color {
  background-color: #96bb36;
}

.modal-size {
  max-width: 1027px;
}
